<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scut.flyingchess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.scut.flyingchess.activity.RequestPermissionActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.scut.flyingchess.activity.WelcomeActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.scut.flyingchess.activity.ChooseModeActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"/>

        <activity
            android:name="com.scut.flyingchess.activity.localGame.LocalRoomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.scut.flyingchess.activity.localGame.LocalGamingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.scut.flyingchess.activity.localGame.LocalPauseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>

        <activity
            android:name="com.scut.flyingchess.activity.replay.ReplayGameActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.scut.flyingchess.activity.lanGame.LanHallActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask" />
        <activity
            android:name="com.scut.flyingchess.activity.lanGame.LanRoomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.scut.flyingchess.activity.lanGame.LanGamingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.scut.flyingchess.activity.lanGame.LanPauseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>


        <activity
            android:name="com.scut.flyingchess.activity.GameEndActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name="com.scut.flyingchess.__Deprecated.UpdateActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name="com.scut.flyingchess.activity.RecordsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activity.wanGame.WanLoginActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.wanGame.WanGamingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.wanGame.WanHallActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.wanGame.WanPauseActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.wanGame.WanRoomActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>